@use 'variables';
//@use 'bootstrap/scss/bootstrap';

/////////////
// PLUGINS //
/////////////

//@use 'bootstrap-custom-checkbox-toggle/bootstrap-custom-checkbox-toggle';
//@use 'fm-plugin-flatpickr/scss/flatpickr';
//@use 'fm-plugin-chartjs/scss/chartjs';
//@use 'fm-avatar/avatar';
//@use 'fm-loader/loader';
//@use 'sass-math/math';
//@use 'corner-ribbon/sass/corner-ribbon';

/////////
// MDK //
/////////

//@use 'material-design-kit/src/style';

////////////
// CUSTOM //
////////////

@use 'components/avatar';
@use 'components/checkbox';
@use 'components/sidebar';
@use 'components/topbar';
@use 'components/form';
@use 'components/notification';
@use 'components/tabs';
@use 'structures/layout';
@use 'vendor/background';
@use 'vendor/badge';
@use 'vendor/bootstrap';
@use 'vendor/calendarjs';
@use 'vendor/breadcrumb';
@use 'vendor/card';
@use 'vendor/flex';
@use 'vendor/margin';
@use 'vendor/padding';
@use 'vendor/page';
@use 'vendor/ckeditor';
@use 'vendor/perfect-scrolbar';
@use 'preloader';

.ui .page__container {
  max-width: 944px;
}

.application-shell-content {
  border-width: 4px !important;
  border-style: dashed !important;
  padding: 1rem;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //@include border-radius($border-radius-lg);
}
