.image-upload-preview {
    display: none;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

#preview-container{
    iframe{
        border-radius: 10px;
        margin-top: 20px;
    }
}
